label{
    font-family:fantasy;
    font-style: italic;
}
p{
    font-style: italic;
    font-family: fantasy;
    flex-direction: column;
    
}
#footer{
background-color: aqua;
}
body{
    background-color:rgba(red, green, blue, alpha);
}